backend: cmd
working_dir: .reme

llms:
  default:
    backend: openai
    model_name: qwen3.5-plus
    request_interval: 1
  #    temperature: 0.0001

  qwen3_max_instruct:
    backend: openai
    model_name: qwen3-max
    request_interval: 2

  qwen-plus-thinking:
    backend: openai
    model_name: qwen-plus
    request_interval: 1
    extra_body:
      enable_thinking: True

embedding_models:
  default:
    backend: openai
    model_name: text-embedding-v4
    dimensions: 1024
    enable_cache: false

vector_stores:
  default:
    backend: chroma
    #    backend: local
    collection_name: reme
    embedding_model: default

token_counters:
  default:
    backend: base

  hf:
    backend: hf
    model_name: Qwen/Qwen3-Coder-30B-A3B-Instruct
    use_mirror: true

